body{
	margin: 0;
	padding: 0;
}
.caja{
	width: 200px;
	height: 200px;
	position: static;
}

.rojo{
	background-color: #ee3e64; 
}

.azul{
	background-color: #44accf;
}

.verde{
	background-color: #b7d84b;
}